<div class="banner-content">
  <h1>Here you can create your custom content if you like.</h1>
  <div class="banner-content__list">
    <div class="banner-content__list__item">
      <i class="icon-info icon--clock"></i>
      <h4>Praesent</h4>
      <small>Lorem ipsum dolor sit amet, consectetur adipis.</small>
    </div>
    <div class="banner-content__list__item">
      <i class="icon-info icon--bulb"></i>
      <h4>Quisque</h4>
      <small>Lorem ipsum dolor sit amet, consectetur adipis.</small>
    </div>
    <div class="banner-content__list__item">
      <i class="icon-info icon--headphone"></i>
      <h4>Vestibulum</h4>
      <small>Lorem ipsum dolor sit amet, consectetur adipis.</small>
    </div>
    <div class="banner-content__list__item">
      <i class="icon-info icon--ray"></i>
      <h4>Morbe</h4>
      <small>Lorem ipsum dolor sit amet, consectetur adipis.</small>
    </div>
    <div class="banner-content__list__item">
      <i class="icon-info icon--smile"></i>
      <h4>Elementum</h4>
      <small>Lorem ipsum dolor sit amet, consectetur adipis.</small>
    </div>
  </div>
</div>