<div class="inbenta-helpsite__footer">
    <div class="inbenta-helpsite__footer__container">
        <a href="https://www.inbenta.com" class="container__logo" target="_blank">
            in<span>b</span>enta
        </a>
        <div class="container__links">
            <a href="#">Learn More</a>
            <a href="#">About Us</a>
            <a href="#">Support</a>
        </div>
        <div class="container__buttons">
            <button class="button-icon"><i class="icon--twitter"></i> </button>
            <button class="button-icon"><i class="icon--facebook"></i> </button>
            <button class="button-icon"><i class="icon--pinterest"></i></button>
            <button class="button-icon"><i class="icon--linkedin"></i> </button>
        </div>
    </div>
</div>