<div class="inbenta-helpsite__header">
    <div class="inbenta-helpsite__header__container">
        <div class="container__top">
            <a href="https://www.inbenta.com" class="container__logo" target="_blank">
                in<span>b</span>enta
            </a>
            <div class="container__links">
                <a href="#">Products</a>
                <a href="#">Solutions</a>
                <a href="#">Contact</a>
                <a href="#">More</a>
            </div>
            <div class="container__buttons">
                <button class="button--secondary">
                    Log in
                </button>
            </div>
        </div>
        <div class="container__center">
            <h3>Welcome to</h3>
            <h1>Demo Helpsite</h1>
        </div>
        <div class="container__bottom">
            <button class="button button--big">SEE MORE</button>
        </div>
    </div>
</div>